<h1>Repository Branches</h1>
Enter GitHub repo name to view its branches.
<%= form_with url: github_repo_path, method: :get do %>
  <div>
    <%= label_tag :repo, "Repo Name:" %>
    <%= text_field_tag :repo %>
    <%= submit_tag "Submit" %>
  </div>
<% end %>

<h1>Team Members</h1>
Enter team name to view its members.
<%= form_with url: github_team_path, method: :get do %>
  <div>
    <%= label_tag :team, "Team Name:" %>
    <%= text_field_tag :team %>
    <%= submit_tag "Submit" %>
  </div>
<% end %>

<h1>User Contributions</h1>
Enter a GitHub login to view their pull requests and reviews.
<%= form_with url: contributions_path, method: :get do %>
  <div>
    <%= label_tag :login, "User Login:" %>
    <%= text_field_tag :login %>
    <%= submit_tag "Submit" %>
  </div>
<% end %>
