<h1>Create New Issue</h1>

<%= form_with url: jira_issues_path, method: :post do %>
  <div>
    <label for="project_key">Project Key:</label>
    <%= text_field_tag :project_key %>
  </div>
  <div>
    <label for="issue_type">Issue Type:</label>
    <%= text_field_tag :issue_type, 'Task' %>
  </div>
  <div>
    <label for="summary">Summary:</label>
    <%= text_field_tag :summary %>
  </div>
  <div>
    <label for="description">Description:</label>
    <%= text_area_tag :description %>
  </div>
  <div>
    <%= submit_tag 'Create Issue' %>
  </div>
<% end %>

<%= link_to 'Back to Issues', jira_issues_path %>
