<h1>Issue <%= @issue.key %></h1>
<%= link_to 'Back to Team', jira_team_index_path %>

<p><strong>Summary:</strong> <%= @issue.fields['summary'] %></p>
<p><strong>Assignee:</strong> <%= @issue.fields.dig('assignee')&.dig('displayName') %></p>
<p><strong>Story Points:</strong> <%= @issue.fields['customfield_10004'] %></p>
<p><strong>Status:</strong> <%= @issue.fields['status']['name'] %></p>
<p><strong>PR Status:</strong> <%= @issue.fields["customfield_16100"] %></p>
<p><strong>Description:</strong> <%= format_links(@issue.fields['description']) %></p>

