<h1>Issues</h1>
<% if @error %>
  <p style="color: red;"><%= @error %></p>
<% end %>

<style>
    .inline-form div {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        margin-bottom: 15px;
    }
    .inline-form label {
        display: block;
        vertical-align: top;
    }
</style>

<%= form_with url: jira_team_stats_path, method: :get, local: true, html: { class: 'inline-form' } do %>
  <div>
    <label for="project_key">Project:</label>
    <%= select_tag :project_key, options_for_select([%w[Support-views Support-views], %w[Ingest Ingest], %w[Support-Views-UI Support-Views-UI]], params[:project_key]) %>
  </div>
  <div>
    <label for="updated">Lookback Days:</label>
    <%= select_tag :updated, options_for_select([['14', '14'], ['30', '30'], ['60', '60'], ['90', '90']], params[:updated]) %>
  </div>
  <div>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<% unless @issues.nil? %>
<p>Total Issues: <%= @issues.size %></p>

  <%
    status_counts = Hash.new(0)
    assignee_counts = Hash.new(0)

    @issues.each do |issue|
      status_counts[issue.status.name] += 1
      assignee_counts[issue.assignee&.displayName || 'Unassigned'] += 1

      if issue.customfield_19880.present? && issue.customfield_19971.present?
        start_date = Date.parse(issue.customfield_19880)
        end_date = Date.parse(issue.customfield_19971)
        duration = 0

        while start_date < end_date
          unless start_date.saturday? || start_date.sunday?
            duration += 1
          end
          start_date += 1
        end

        if issue.customfield_10004.present?
          miss = duration - issue.customfield_10004
        end
      end
  %>
  <% end %>

  <h2>Status Counts</h2>
  <ul>
    <% status_counts.each do |status, count| %>
      <li><%= status %>: <%= count %></li>
    <% end %>
  </ul>

  <h2>Assignee Counts</h2>
  <ul>
    <% assignee_counts.each do |assignee, count| %>
      <li><%= assignee %>: <%= count %></li>
    <% end %>
  </ul>
<% end %>
